@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, body{
    font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
