@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    color: inherit !important;
}

.container > .row {
    margin-bottom: 3rem !important;
}

/*------ SECTIONS ------*/

/*--Navbar*/
.navbar-main .active {
    text-decoration: underline wavy #fbf9fa;
    text-underline-offset: 7px;
}

.icons-rrss a img {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}
.icons-rrss a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s filter;
}

.icons-rrss a:hover {
    filter: opacity(0.5);
}

/*--Header*/
.header-main {
    min-height: 100vh;
}

/*--Knowleadge*/
.icon-mongo {
    --box-size: 70px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 10px;
}

/*---Portfolio*/
.portfolio-item > img {
    transition: 0.4s transform;
}
.portfolio-item:hover > img {
    transform: scale(0.96);
}
